{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y bg">

	{% include 'includes/alerts.html' %}
	<div class="container">
		<div class="row">
			{% include 'includes/account_sidebar.html' %}
			<main class="col-md-9">
				<article class="card">
					<header class="card-header">
						<strong class="d-inline-block mr-3">Edit your profile</strong>
					</header>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Username</label>
											{{user_form.username}}
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Profile Picture</label>
											<div class="text-left">
												{% if user_profile.profile_picture %}
												<img src="{{ user_profile.profile_picture.url|default_if_none:'#' }}"
													alt="Profile Picture" width="100" style="border-radius: 50px;">
												{% else %}
												<p>No profile picture available</p>
												{% endif %}

											</div>
											{{profile_form.profile_picture}}
										</div>
									</div>
									<input type="submit" value="Save" class="btn btn-primary">
								</form>
							</div>

						</div>
					</div>

				</article>
			</main>
		</div>
	</div>


</section>

{% endblock %}