{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    select {
        cursor: pointer;
        font-weight: 500;
        color: #fff;
        background-color: #57adee;
        ;
        border-color: #3167eb;
        ;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        padding: 0.55rem 0.85rem;
        border-radius: 0.37rem;
        font-family: "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 500;

    }
</style>

<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{ show.poster.url }}"></a>
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <h2 class="title">{{ show.title }}</h2>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if show.average_review < 0.5 %}-o{% elif show.average_review >= 0.5 and show.average_review < 1 %}-half-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if show.average_review < 1.5 %}-o{% elif show.average_review >= 1.5 and show.average_review < 2 %}-half-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if show.average_review < 2.5 %}-o{% elif show.average_review >= 2.5 and show.average_review < 3 %}-half-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if show.average_review < 3.5 %}-o{% elif show.average_review >= 3.5 and show.average_review < 4 %}-half-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if show.average_review < 4.5 %}-o{% elif show.average_review >= 4.5 and show.average_review < 5 %}-half-o {% endif %}"
                                    aria-hidden="true"></i>
                                <span>{{show.count_review}} reviews</span>
                            </span>
                        </div>
                        <p></p>
                        <div class="mb-3">
                            <var class="price h4">{{ show.year }}</var>
                        </div>
                        <p>{{ show.description }}</p>
                        {% if request.user.is_authenticated %}
                        {% if show in favourites_folder.favourites.all %}
                        <form action="{% url 'remove_from_favorites' show.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">Remove from Favourites</button>
                        </form>
                        {% else %}
                        <form action="{% url 'favourite_add' show.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">Add to Favourites</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        <hr>
                    </article>
                </main>
            </div>
        </div>
        <br>

        {% if show.is_tv_show %}
        <select id="season-selector" onchange="updateEpisodes();">
            {% for season in seasons %}
            <option value="{{ season.id }}" {% if season == selected_season %} selected {% endif %}>
                Season {{ season.season_number }}
            </option>
            {% endfor %}
        </select>


        {% if episodes %}
        <select id="episode-selector" onchange="updateVideo();">
            {% for episode in episodes %}
            <option value="{{ episode.id }}" data-video-url="{{ episode.video.url }}" {% if episode == selected_episode %}
                selected {% endif %}>
                Episode {{ episode.episode_number }}: {{ episode.title }}
            </option>
            {% endfor %}
        </select>
        <p></p>

        <!-- Video Player -->
        <div class="video-container text-center">
            <video id="video-player" width='854' height='480' controls>
                {% if selected_episode %}
                <source src="{{ selected_episode.video.url }}" type="video/mp4">
                {% else %}
                <source src="{{ episodes.first.video.url }}" type="video/mp4">
                {% endif %}
                Your browser does not support the video tag.
            </video>
        </div>
        {% else %}
        <p>No episodes available for this season.</p>
        {% endif %}
        {% elif show.is_movie and show.video %}
        <!-- Movie: Display the video directly -->
        <div class="video-container text-center">
            <video width='854' height='480' controls>
                <source src="{{ show.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% else %}
        <p>No video content available.</p>
        {% endif %}


        <div class="row">
            <div class="col-md-9">
                <form action="{% url 'submit_review' show.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Write Your Review</h5>
                    {% if user.is_authenticated %}
                    <div>
                        <label>How do you rate this show?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10"
                                title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9"
                                title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8"
                                title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7"
                                title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6"
                                title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5"
                                title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4"
                                title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3"
                                title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2"
                                title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1"
                                title="0.5" class="half"></label>
                        </div>
                        <br>
                        Review Title:
                        <input type="text" class="form-control" name="subject" required>
                        <br>
                        Review:
                        <textarea name="review" rows="4" class="form-control"></textarea>
                        <br>
                        <input type="submit" value="Submit Review" class="btn btn-primary">
                        {% else %}
                        <p>You must be logged in to post a review. <a href="{% url 'login' %}">Login now</a></p>
                        {% endif %}
                    </div>
                    <br>
                    {% include 'includes/alerts.html' %}
                </form>
                <br>
                {% if reviews %}
                <!-- Customer Reviews should be under Submit Review -->
                <h3>Customer Reviews</h3>
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <div class="text">
                            <span class="date text-muted float-md-right">{{ review.updated_at }}</span>
                            <h6 class="mb-1">{{ review.user.username }}</h6>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>{{ review.subject }}</h6>
                        <p>{{ review.review }}</p>
                    </div>
                </article>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script>
    function updateEpisodes() {
        const seasonId = document.getElementById('season-selector').value;
        fetch(`/api/episodes/${seasonId}/`)
            .then(response => response.json())
            .then(data => updateEpisodeDropdown(data.episodes));
    }

    function updateEpisodeDropdown(episodes) {
        const episodeSelector = document.getElementById('episode-selector');
        episodeSelector.innerHTML = '';  // Clear existing options
        episodes.forEach(episode => {
            const option = new Option(episode.title, episode.id);
            option.dataset.videoUrl = episode.video_url;
            episodeSelector.appendChild(option);
        });
        updateVideo();  // Update the video player with the first episode from the new list
    }

    function updateVideo() {
        const episodeSelector = document.getElementById('episode-selector');
        const selectedOption = episodeSelector.options[episodeSelector.selectedIndex];
        const videoPlayer = document.getElementById('video-player');
        const videoSource = document.querySelector('#video-player source');
        videoSource.src = selectedOption.dataset.videoUrl;
        videoPlayer.load();  // Reload video player to update source
    }
</script>

{% endblock %}