{% extends './base.html' %}

{% block content %}

<style>
  .custom-row {
    margin-left: -15px;
    margin-right: -15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 15px;
  }

  .custom-card {
    width: 14rem;
    height: 100%;
  }

  .custom-card img {
    height: 100%;
    object-fit: cover;
  }

  .row-col {
    float: left;
  }
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Shows</h1>
  <p class="lead">choose your fighter!!!!!!</p>
</div>
<div class="container">
  <div class="row custom-row row-cols-1 row-cols-md-3 g-4">
    {% for show in shows %}
    <div class="mb-4">
      <div class="card custom-card">
        <img class="card-img-top" src="{{ show.poster.url }}" alt="{{ show.title }} Poster">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'show' show.id %}">{{ show.title }}</a></h5>
          <p class="card-text">{{ show.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}