option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: video_streaming_service.wsgi:application
packages:
  yum:
    postgresql-devel: []
    amazon-linux-extras: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql11
    02_postgres_install:
        command: sudo yum install -y postgresql-devel